{{#each messages as |msg|}}
  {{#if msg.editable}}
    <div
      {{#if msg.last}}
        class="outgoing_msg last_out"
      {{else}}
        class="outgoing_msg"
      {{/if}}
    >
      <div class="sent_msg">
        <!-- <span class="time_date"></span> -->
        <p>{{msg.text}}</p>
      </div>
    </div>
  {{else}}
    <div
      {{#if msg.last}}
        class="incoming_msg last_in"
      {{else}}
        class="incoming_msg"
      {{/if}}
    >
      <div class="received_msg">
        <div class="received_withd_msg">
          <span class="time_date">{{msg.username}}</span>
          <p>{{msg.text}}</p>
          <!-- <span class="time_date"> 11:01 AM | June 9</span> -->
        </div>
      </div>
    </div>
  {{/if}}
  <!-- <li data-id="{{msg._id}}">{{msg.username}}: {{msg.text}}
    {{#if msg.editable}}
      <form data-id="{{msg._id}}" data-name="{{msg.username}}" class="update">
        <input name="message[text]" type="text" placeholder="message">
        <button>update</button>
      </form>
      <button data-id={{msg._id}} class="delete">delete</button>
    {{/if}}
  </li> -->
{{/each}}
